.fusion-flip-boxes {
  margin-bottom: 25px;

  .fusion-column {
    box-sizing: border-box;
  }

  .fusion-flip-box {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    backface-visibility: hidden;

    .flip-box-inner-wrapper {
      position: relative;
      margin-bottom: 15px;
      -webkit-transform: translateZ(0);
    }

    .flip-box-back,
    .flip-box-front {
      perspective: 600px;
      padding: 27px 20px;
      text-align: center;
      backface-visibility: hidden;
      background-clip: padding-box;
      transition: all 0.4s cubic-bezier(0.2,0.85,0.4,1.275)!important;
    }

    .flip-box-front {
      transform: rotateY(0deg);
      z-index: 10;
    }

    .flip-box-back {
      position: absolute;
      left: 0;
      top: 0;
      height: auto;
      width: 100%;
      transform: rotateY(-180deg);
      z-index: -1;
      box-sizing: border-box;

      .fusion-button {
        display: table;
        margin: 20px auto 0;
      }
    }

    &:hover {
      .flip-box-back {
        transform: rotateY(0deg);
        z-index: 1;
      }

      .flip-box-front {
        transform: rotateY(180deg);
        z-index: -1;

        .flip-box-grafix {
          i {
            &:before {
              display: none;
            }
          }
        }
      }
    }

    .flip-box-grafix {
      display: table;
      margin: 0 auto 10px;
    }

    .flip-box-image {
      table-layout: fixed;
      width: 100%;
    }

    .flip-box-circle {
      height: 64px;
      width: 64px;
      border: 1px solid;
      border-radius: 50%;
      background-clip: padding-box;

      i {
        display: table-cell;
        vertical-align: middle;
        font-size: 24px;
      }
    }

    .flip-box-no-circle {
      i {
        font-size: 60px;
      }
    }

    .flip-box-heading {
      margin-top: 0;
      margin-bottom: 9px;
      padding-top: 0;

      &.without-text {
        margin-bottom: 0;
      }
    }

    .flip-box-heading-back {
      margin-bottom: 9px;
      margin-top: 0;
      font-size: 14px;
      text-transform: uppercase;
    }

    .finished-animating {
      transition: none !important;
      animation: none !important;
    }
  }
}
// Fix for #5209.

.ua-edge {
  .fusion-flip-boxes {
    .fusion-flip-box:hover {
      .flip-box-back {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        z-index: 1;
      }

      .flip-box-front {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        z-index: -1;
      }
    }
  }
}
