.fusion-image-carousel {
  margin-bottom: 40px;
}
/* All standard carousel styles */
.fusion-carousel {
  overflow: hidden;
  padding: 0;

  .fusion-carousel-positioner {
    position: relative;
  }

  .fusion-carousel-wrapper {
    box-sizing: content-box;
    padding: 8px 0;
  }

  .fusion-carousel-swipe {
    cursor: grab;
  }

  .fusion-carousel-holder {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .fusion-carousel-item {
    display: block;
    float: left;
    padding: 0;

    .fusion-carousel-item-wrapper {
      display: inline-block;
      visibility: hidden;
      vertical-align: middle;
      width: 100%;
      line-height: normal;
      text-align: center;
    }

    .fusion-image-wrapper {
      display: inline-block;
      margin-bottom: 0;
      text-align: center;
      max-width: 100%;

      &.fusion-video {
        display: block;
      }
    }

    > a {
      display: block;
      box-shadow: none;
    }

    img {
      vertical-align: middle;
      width: 100%;
      height: auto;
    }
  }

  .fusion-carousel-title {
    margin: 15px 0 3px;
  }

  .fusion-carousel-price {
    margin-top: 8px;

    .price {
      margin-bottom: 0;
    }
  }

  .fusion-carousel-nav {
    visibility: hidden;

    .fusion-nav-next,
    .fusion-nav-prev {
      display: block;
      z-index: 1000;
      opacity: 0.8;
      position: absolute;
      top: 50%;
      margin-top: -14px;
      height: 29px;
      width: 29px;
      text-align: center;
      cursor: pointer;
      color: transparent;
      background-color: rgba(0, 0, 0, 0.5);
      background-repeat: no-repeat;

      &:before {
        display: block;
        position: relative;
        line-height: 29px;
        font-size: 14px;
        color: #fff;
        font-family: @icon-font;
      }

      &:hover {
        opacity: 1;
      }
    }

    .fusion-nav-prev {
      left: 0;

      &:before {
        content: @left-arrow-small;
      }
    }

    .fusion-nav-next {
      right: 0 !important;

      &:before {
        content: @right-arrow-small;
      }
    }
  }
}

.fusion-carousel-title-below-image {
  .fusion-carousel-meta,
  .fusion-carousel-title {
    text-align: left;
  }
}

.fusion-carousel-border {
  .fusion-image-wrapper {
    border: 1px solid @default-border-color;

    &.hover-type-liftup {
      overflow: hidden;

      &:hover {
        overflow: visible;
      }
    }
  }
}

.fusion-image-carousel-fixed {
  .fusion-carousel {
    .fusion-carousel-wrapper {
      height: 115px !important;
    }

    .fusion-carousel-holder {
      line-height: 115px !important;
    }

    .fusion-carousel-item-wrapper {
      text-align: center;
    }

    .fusion-image-wrapper {
      vertical-align: middle;

      a {
        display: block;
        box-shadow: none;
      }

      img {
        max-height: 115px;
        width: auto;
      }
    }
  }
}
// Fix for #876.
@media all and (max-width:1024px) {
  .fusion-carousel-wrapper.fusion-carousel-swipe {
    .fusion-carousel-holder .fusion-image-wrapper > a {
      pointer-events: none;
    }

    .fusion-carousel-holder .fusion-image-wrapper:hover > a {
      pointer-events: inherit;
    }
  }
}
