.fusion-layout-column {
  position: relative;
  float: left;
  margin-bottom: 20px;

  &.fusion-column-hover-type-liftup:hover {
    z-index: 2001;
  }

  .fusion-column-wrapper {
    min-height: 1px;
  }

  &.fusion-blend-mode {
    .fusion-column-inner-bg-image,
    .fusion-column-wrapper {
      background-blend-mode: overlay;
    }
  }

  &.fusion-one-full {
    float: none;
    clear: both;
  }

  &.fusion-one-sixth {
    width: 16.6666%;
  }

  &.fusion-five-sixth {
    width: 83.3333%;
  }

  &.fusion-one-fifth {
    width: 20%;
  }

  &.fusion-two-fifth {
    width: 40%;
  }

  &.fusion-three-fifth {
    width: 60%;
  }

  &.fusion-four-fifth {
    width: 80%;
  }

  &.fusion-one-fourth {
    width: 25%;
  }

  &.fusion-three-fourth {
    width: 75%;
  }

  &.fusion-one-third {
    width: 33.3333%;
  }

  &.fusion-two-third {
    width: 66.6666%;
  }

  &.fusion-one-half {
    width: 50%;
  }

  &.fusion-column-last {
    margin-left: 0;
    margin-right: 0;
  }

  &.fusion-spacing-yes {
    margin-right: 4%;

    &.fusion-one-sixth {
      width: 13.3333%;
    }

    &.fusion-five-sixth {
      width: 82.6666%;
    }

    &.fusion-one-fifth {
      width: 16.8%;
    }

    &.fusion-two-fifth {
      width: 37.6%;
    }

    &.fusion-three-fifth {
      width: 58.4%;
    }

    &.fusion-four-fifth {
      width: 79.2%;
    }

    &.fusion-one-fourth {
      width: 22%;
    }

    &.fusion-three-fourth {
      width: 74%;
    }

    &.fusion-one-third {
      width: 30.6666%;
    }

    &.fusion-two-third {
      width: 65.3333%;
    }

    &.fusion-one-half {
      width: 48%;
    }

    &.fusion-column-last {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .fusion-column-content-centered {
    display: flex;
    justify-content: center;
    align-items: center;

    .fusion-column-content {
      flex: 1;
      max-width: 100%;
    }
  }
}

.fusion-column-inner-bg-wrapper {
  .fusion-column-wrapper {
    position: relative;
    z-index: 3;
    pointer-events: none;
  }
}

.fusion-column-inner-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  a {
    width: 100%;
    height: 100%;

    span {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
