.fusion-portfolio {
  overflow: hidden;
  margin-bottom: 80px;
}

.fusion-portfolio-carousel {
  overflow: hidden;
  height: auto;
}

.fusion-portfolio-grid.fusion-portfolio-text {
  margin-bottom: 0;
}

.fusion-portfolio-carousel-fixed.fusion-carousel .fusion-image-wrapper,
.fusion-portfolio-carousel-fixed.fusion-carousel .fusion-image-wrapper img {
  max-height: 115px;
  width: auto;
}

.fusion-portfolio-paging-infinite,
.fusion-portfolio-paging-load-more-button {
  .pagination {
    display: none;
  }
}

.fusion-portfolio-text-floated {
  .fusion-portfolio-content-wrapper {
    display: flex;
    justify-content: flex-start;
    margin: 0 -12.5px;
  }

  .fusion-image-wrapper {
    flex-shrink: 1;
    display: inline-block;
    margin: 0;
    padding: 0 12.5px;
    max-width: 540px;
    width: 100%;
  }

  .fusion-rollover {
    width: ~"calc( 100.1% - 12.5px )";
  }

  .fusion-portfolio-content {
    flex-shrink: 2;
    margin: 0;
    padding: 0 12.5px;
    vertical-align: top;
  }
}
