.fusion-builder-wrap {
  max-width: 1100px;

  h2.nav-tab-wrapper {
    margin-bottom: 30px;
  }

  iframe {
    max-width: 100%;
    width: 100%;
  }

  .fusion-builder-logo {
    background: #ffffff url("../images/icons/fb_logo.svg") no-repeat center;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    height: 30px;
    margin: 5px 0 0;
    padding-top: 100px;
    position: absolute;
    right: 0;
    text-align: center;
    text-rendering: optimizeLegibility;
    top: 0;
    width: 150px;
  }

  .fusion-builder-version {
    background: #2d2d2d;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    color: #ffffff;
    display: block;
    margin-top: 30px;
    padding: 10px 0;
    text-align: center;
  }

  .fusion-builder-important-notice {
    background: #ffffff;
    margin: 0 0 30px;
    padding: 30px;

    .about-description {
      margin: 0;
      max-width: 100%;
    }

    p.error-invalid-token {
      background-color: #cc0000;
      color: #ffffff;
      margin: 1em 0 0;
      padding: 1em;
      text-align: center;
      max-width: 100%;
    }
  }

  .registration-form-container {
    .about-description {
      margin-bottom: 20px;
      margin-top: 0;
    }
  }

  #fusion_builder_product_registration {
    display: -ms-flexbox;
    display: flex;

    p.submit {
      margin: 0;
      padding: 0;
    }

    .dashicons {
      color: #333333;
      font-size: 36px;
      height: 40px;
      line-height: 40px;
      margin: 0;
      width: 46px;

      &-yes {
        color: #43a047;
      }

      &-no {
        color: #cc0000;
      }
    }
  }

  .fusion-builder-registration-form {
    input {
      height: 40px;
      margin: 0 1em;
      padding: 10px 15px;
      width: 100%;

      &#submit {
        margin: 0;
        width: auto;
      }
    }
  }

  .fusion-builder-loader {
    display: none;

    > .loader-icon {
      animation: spin 2s infinite linear;
      display: inline-block !important;
      font-size: 32px;
      height: 32px;
      line-height: 32px;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 32px;
    }
  }

  .fusion-builder-thanks {
    border-top: 1px solid #dddddd;
    float: left;
    margin-top: 30px;
    width: 100%;

    p {
      padding: 20px 0;
    }
  }

  .fusion-builder-large-button {
    padding: 15px 20px !important;
    height: 40px !important;
    line-height: 7px !important;
  }

  .three-col {
    .col {
      float: left;
      margin-bottom: 30px;
      margin-right: 4.999999999%;
      position: relative;
      min-width: 29.95%;

      .title {
        font-size: 1em;

        span {
          margin-right: 8px;
        }
      }

      &.last-feature {
        margin-right: 0;
      }
    }
  }

  .feature-section {
    float: left;
    width: 100%;
  }

  .fusion-builder-addons {
    float: none;
    margin: 0 -1%;
    width: auto;

    .fusion-admin-box {
      box-sizing: border-box;
      float: left;
      margin: 0 0 2%;
      padding: 0 1%;
      width: 25%;

      .theme-wrapper {
        border: 1px solid #dedede;
        box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1);
      }

      .theme {
        #wpwrap & {
          float: none;
          margin: 0;
          width: 100%;
          border: none;
          box-shadow: none;
        }

        &:focus,
        &:hover {
          img {
            opacity: 0.3;
            transform: scale(1.1);
          }
        }

        .theme-screenshot {
          background: #000000;

          &:after {
            padding-top: 74.9%;
          }
        }

        .theme-name {
          padding: 15px;
          height: 38px;
          line-height: 38px;

          .plugin-info {
            margin-top: 8px;
            font-size: 12px;
            font-weight: normal;
          }
        }

        .theme-actions {
          z-index: 1;
          height: 30px;
          top: 50%;
          right: auto;
          left: 50%;
          transform: translate3d(-50%, -43px, 0px);
          padding: 0;
          border: none;
          background: transparent;
          display: none;
        }

        &.active {
          .theme-name {
            line-height: 1;

            .plugin-info {
              a {
                color: #eeeeee;

                &:hover {
                  color: #ffffff;
                }
              }
            }
          }
        }

        &.installed {
          .theme-name {
            line-height: 1;
          }
        }

        &:hover {
          .theme-actions {
            display: block;
          }
        }

        .button-primary {
          display: block;
          margin: 0;
          text-align: center;
        }

        .plugin-required {
          position: absolute;
          top: 1px;
          padding: 5px;
          background: rgba(213, 78, 33, .95);
          text-transform: uppercase;
          color: #fff;
        }
      }

      img {
        transform: translateZ(0);
        -webkit-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        border: none;
        transition: opacity 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
      }
    }
  }
}
@media only screen and (max-width: 1190px) {
  .fusion-builder-wrap .fusion-builder-addons {
    margin: 0 -1.5%;

    .fusion-admin-box {
      margin-bottom: 3%;
      padding: 0 1.5%;
      width: 33.33333%;
    }
  }
}
@media only screen and (max-width: 830px) {
  .fusion-builder-wrap .fusion-builder-addons {
    margin: 0 -2.5%;

    .fusion-admin-box {
      margin-bottom: 5%;
      padding: 0 2.5%;
      width: 50%;
    }
  }
}
@media only screen and (max-width: 600px) {
  .fusion-builder-wrap .fusion-builder-addons {
    margin: 0;

    .fusion-admin-box {
      margin-bottom: 5%;
      padding: 0;
      width: 100%;
    }
  }
}

.fusion-builder-settings {
  float: left;
  width: 100%;

  .about-description {
    .avada-large-button {
      margin-top: 20px;
    }
  }

  .fusion-builder-option {
    border-bottom: 1px solid #dddddd;
    float: left;
    padding: 40px 0;
    width: 100%;

    .fusion-builder-option {
      &-title {
        float: left;
        margin-right: 10%;
        width: 35%;

        h3 {
          margin-top: 0;
        }
      }

      &-label {
        color: #777777;
      }

      &-field {
        float: right;
        width: 55%;

        ul {
          li {
            float: left;
            margin-bottom: 10px;
            width: 33.333%;
          }
        }

        .button {
          margin-right: 10px;
        }
      }
    }

    .fusion-check-all,
    .fusion-uncheck-all {
      margin-top: 0.8em;
    }
  }

  .fusion-builder-save-settings {
    float: left;
    margin-top: 30px;
  }

  .ui-button {
    background: #f5f5f5;
    border-bottom-color: #bbbbbb;
    border-radius: 0;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    color: #333333;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    height: auto;
    line-height: normal;
    margin-right: -1px;
    overflow: visible;
    padding: 7px 14px 8px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
    transition: all 200ms ease-in-out;
    vertical-align: middle;
    z-index: 1;

    .ui-button-text {
      display: block;
      line-height: 1.4;
      padding: 0;
    }
  }

  .ui-buttonset {
    .ui-state-active {
      background-color: #00a0d2 !important;
      background-image: none !important;
      border-color: #0064cd #0064cd #003f81;
      border-color: rgba(0, 0, 0, .1) !important;
      box-shadow: none !important;
      color: #ffffff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    }

    &.enable-builder-ui {
      .ui-state-active[data-value="0"] {
        background-color: #222222 !important;
      }
    }
  }
}

.avada-large-button {
  height: 40px !important;
  line-height: 7px !important;
  padding: 15px 20px !important;
}

.fusion-builder-admin-toggle {
  margin-bottom: 20px;

  .fusion-builder-admin-toggle {
    &-heading {
      -ms-flex-align: center;
      align-items: center;
      background-color: #fafafa;
      border: 1px solid #dfdfdf;
      cursor: pointer;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 10px 25px;

      h3 {
        margin: 0;
      }
    }

    &-content {
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      background: #ffffff none repeat scroll 0 0;
      border-color: -moz-use-text-color #dfdfdf #dfdfdf;
      border-image: none;
      border: 1px solid #dfdfdf;
      border-style: none solid solid;
      border-width: medium 1px 1px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
      display: none;
      padding: 25px;

      li {
        margin-bottom: 15px;
      }
    }
  }
}

.fusion-builder-import-success {
  color: green;
  display: none;
  padding: 1em 0;
  width: 100%;
}

input[type="file"]::-webkit-file-upload-button {
  color: #555;
  border-color: #ccc;
  background: #f7f7f7;
  margin-right: 10px;
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 26px;
  height: 28px;
  margin: 0;
  padding: 0 10px 1px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  white-space: nowrap;
  box-sizing: border-box;
  -webkit-appearance: none;
  box-shadow: 0 1px 0 #ccc;
  vertical-align: top;
}

.fusion-builder-admin-toggle-icon {
  font-size: 23px;
}

.fusion-builder-admin-toggle-icon.fusion-minus::after,
.fusion-builder-admin-toggle-icon.fusion-plus::after,
.fusion-builder-admin-toggle-icon.fusion-plus::before {
  content: '';
  height: 2px;
  width: 14px;
  display: block;
  background: #333;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fusion-builder-admin-toggle-icon.fusion-plus::after {
  height: 14px;
  width: 2px;
  left: 50%;
  top: 50%;
}

.fusion-builder-admin-toggle-heading {
  position: relative;
}

.fusion-builder-admin-toggle-icon {
  position: absolute;
  right: 30px;
  margin: 0;
  top: 50%;
}

#fusion-library-data {
  .fusion-library-element-type {
    display: inline-flex;
    line-height: 2em;
    padding: 0 10px;
    color: #777;
    background: #e5e5e5;
    border-radius: 4px;
    white-space: nowrap;
    margin-right: 20px;

    &.fusion-library-element-sections {
      background: #0091cd;
    }

    &.fusion-library-element-elements {
      background: #888;
    }

    &.fusion-library-element-columns {
      background: #222222;
    }

    &.fusion-library-element-template {
      background: #0073aa;
    }

    a {
      color: #fff;
      opacity: 0.9;

      &:hover {
        opacity: 1;
      }
    }
  }

  .fusion-library-element-global::after {
    content: "\f0ac";
    font-family: 'icomoon';
    color: #777;
    font-size: 16px;
    line-height: 2.5em;
    text-align: center;
    box-sizing: border-box;
  }

  .fusion-library-table {
    td.column-global,
    td.column-type {
      vertical-align: middle;
    }
  }
}

.admin-color {
  &-light {
    #fusion-library-data {
      .fusion-library-element-type {
        &.fusion-library-element-sections {
          background: #e5e5e5;
        }
      }
    }
  }

  &-blue {
    #fusion-library-data {
      .fusion-library-element-type {
        &.fusion-library-element-sections {
          background: #52accc;
        }
      }
    }
  }

  &-coffee {
    #fusion-library-data {
      .fusion-library-element-type {
        &.fusion-library-element-sections {
          background: #59524c;
        }
      }
    }
  }

  &-ectoplasm {
    #fusion-library-data {
      .fusion-library-element-type {
        &.fusion-library-element-sections {
          background: #523f6d;
        }
      }
    }
  }

  &-midnight {
    #fusion-library-data {
      .fusion-library-element-type {
        &.fusion-library-element-sections {
          background: #363b3f;
        }
      }
    }
  }

  &-ocean {
    #fusion-library-data {
      .fusion-library-element-type {
        &.fusion-library-element-sections {
          background: #738e96;
        }
      }
    }
  }

  &-sunrise {
    #fusion-library-data {
      .fusion-library-element-type {
        &.fusion-library-element-sections {
          background: #cf4944;
        }
      }
    }
  }
}
