.wp-block-fusion-alert-sample-element {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.wp-block-fusion-alert-sample-element > div {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wp-block-fusion-alert-sample-element-content {
  line-height: normal;
  font-size: 13px;
  color: #444;
}

.wp-block-fusion-alert-sample-element-icon span {
  display: inline-block;
  margin-right: 0.5em;
  font-size: 1em;
}

.fusion-builder-alert-controller {
  margin: 10px 0px;
  border-bottom: 1px solid #33333330;
  padding-bottom: 10px;
}

.fusion-builder-alert-controller-heading h3 {
  font-weight: bold;
}

.fusion-builder-alert-controller-heading .editor-rich-text {
  border: 1px solid #33333354;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
}
